body{
	margin: 0;
	font-family: "montserrat";


	header{
		position: fixed;
		width: 100%;
		background-color: white;
		z-index: 9999;
		height: 75px;
		border-bottom: 1px solid #ccc;

		.logo{
			display: block;
			float: left;
			width: 33%;
			img{
				height: 75px;
				margin-left: 10%;
			}
		}
		.title{
			float: left;
			width: 34%;
			text-align: center;
			line-height: 75px;
			font-size: 18px;
			color: #0061af;
    		font-weight: 700;
		}
		.phone{
			float: right;
    		width: 33%;
    		text-align: center;
    		line-height: 75px;
			font-size: 18px;
			color: #847e8e;
		}

	}
	footer{
		background-color:#0e1d42;
		right: 0;
		left: 0;
		display: flex;
		width: 100%;
		/*
		background-color: #0e1d42;
		float: left;
		width: 100%;
		*/


		#pF{
			margin: 2% 0;
			color: #9d9aa2;
			padding: 0 4%;
			font-size: 1vw;
			width: 50%;

			@media(max-width: 768px){
				font-size: 8px;
				width: 100%;
			}
		}
	}
}

.container{
	width: 100%;
	float: left;
	margin-top: 75px;
	margin-bottom: 30px;

	.nav{
		display: flex;
		padding: 1% 5% 1% 10%;
		background-color: #e6e6ed;

		.step{
			width: 33.33%;
			float: left;
			text-align: center;
			padding: 8px 15px;
			background-color: white;
			position: relative;
			span{
				color: #0061af;
				text-transform: uppercase;
				font-size: 14px;
			}
		}
		.step-one{
			&:after {
				content: '';
				border-left: 23px solid white;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				position: absolute;
				top: 0;
				right: -23px;
				z-index: 1;
			}
		}
		.step-second{
			border-left: 21px solid white;
			background-color: #fafafc;
			border-left: 21px solid #fafafc;

			&:before{
				content: '';
				border-left: 30px solid #e6e6ed;
				border-top: 22px solid transparent;
				border-bottom: 22px solid transparent;
				position: absolute;
				top: -5px;
				left: -20px;
			}
			/*&:after{
				content: '';
				border-left: 23px solid white;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				position: absolute;
				top: 0;
				right: -23px;
				z-index: 1;
				border-left: 23px solid #fafafc;
			}*/
			span{
				color: #d1dbee;
			}
		}
		.change:after{
			content: '';
			border-left: 23px solid white;
			border-top: 17px solid transparent;
			border-bottom: 17px solid transparent;
			position: absolute;
			top: 0;
			right: -23px;
			z-index: 1;
			border-left: 23px solid #fafafc;
		}
		.step-three{
			border-left: 21px solid white;
			background-color: #fafafc;
			border-left: 21px solid #fafafc;
			&:before{
				content: '';
				border-left: 30px solid #e6e6ed;
				border-top: 22px solid transparent;
				border-bottom: 22px solid transparent;
				position: absolute;
				top: -5px;
				left: -20px;
			}
			span{
				color: #d2dbee;
			}
		}

	}

	.content{
		width: 100%;
		float: left;
		.shipping{
			width: 55%;
			margin: 5% 10% 3% 10%;
			float: left;
			.shipping-mode{
				width: 100%;
				float: left;
				border-left: 1px solid #ccc;
			    border-right: 1px solid #ccc;
			    border-top: 1px solid #ccc;
			    box-sizing: border-box;
				.sect-title{
					width: 100%;
					float: left;
					background-color: #57a2ec;
					display: block;
					.title-num{
						width: 10%;
						float: left;
						margin-left: 40px;
						line-height: 50px;
						font-size: 24px;
						color: white;
						font-family: Bitter;
						font-style: italic;
					}
					.title-string{
						width: 75%;
						float: left;
						text-align: center;
						line-height: 50px;
						font-size: 12px;
						color: white;
						font-family: Bitter;
						font-style: italic;
					}
				}
				.shipping-mode-choose{
					width: 100%;
					float: left;
					.choose{
						margin: 0 5%;
						//width: 90%;
						//float: left;
						font-size: 13px;
						display: block;
						line-height: 50px;
						.check1{
							display: inline-flex;

							input{
								-webkit-appearance: none;
							    display: inline-block;
							    position: relative;
							    background-color: white;
							    color: white;
							    top: 7px;
							    height: 30px;
							    width: 30px;
							    border: 1px solid blue;
							    border-radius: 50px;
							    cursor: pointer;
							    outline: none;
								&:checked:before{
									position: absolute;
									font: 13px/1 'Open Sans', sans-serif;
									left: 11px;
									top: 7px;
									content: '\02143';
									transform: rotate(40deg);
								}
								&:hover{
									background-color: #f7f7f7;
								}
								&:checked{
									background-color: rgb(0, 97, 175);
								}
							}


						}
						.check2{
							display: inline-flex;
    						padding-left: 35px;
							color: #50475e;
							cursor: pointer;
							span{
								font-weight: 700;
							}
						}

						.check3{
							float: right;
							color: #50475e;
						}

						&.choose1{
							border-bottom: 1px solid #0061af;
						}
						&.play{
							.check1{
								color: #0061af;
							}
							.check2{
								color: #0061af;
							}
							.check3{
								color: #0061af;
							}
						}
					}
				}
				.shipping-mode-confirm{
					float: left;
					padding: 0px 5%;
					width: 90%;
					display: none;
					font-size: 13px;
					line-height: 60px;
					color: #50475e;

					.right{
						float: right;
						text-decoration: underline;
						font-weight: 700;
						cursor: pointer;

					}
				}
				.shipping-store-confirm{
					float: left;
					padding: 0px 5%;
					width: 90%;
					display: none;
					font-size: 13px;
					line-height: 60px;
					color: #50475e;

					.right{
						float: right;
						text-decoration: underline;
						font-weight: 700;
						cursor: pointer;

					}
				}
			}
			.shipping-address{
				@extend .shipping-mode;
				border-bottom: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-left: 1px solid #ccc;
				box-sizing: border-box;
				border-top: none;
				.shipping-address-form{
					float: left;
					width: 90%;
					margin: 3% 5%;
					//display: block;
					display: none;
					.message{
						color: #57a2ec;
						margin-bottom: 18px;
						font-size: 13px;
					}
					.field-form{
						margin-bottom: 20px;
						height: 50px;
						width: 100%;
						display: table;

						label{
							width: 30%;
							display: table-cell;
							color: #50475e;
							font-weight: 700;
						}
						input{
							display: table-cell;
							width: -webkit-fill-available;
							height: 27px;
							padding: 5px 10px;
							border: 1px solid #50475e;
						}
					}
					.confirm{
						float: right;
						margin-bottom: 10px;
						button{
							background-color: white;
							border: 1px solid #0061af;
							color: #0061af;
							padding: 16px 30px;
							width: 180px;
							font-size: 14px;
						}
					}
				}
				.choose-country{
					@extend .shipping-address-form;
					.country-form{
						margin-bottom: 20px;
						height: 50px;
						width: 100%;
						display: table;

						label{
							width: 30%;
							display: table-cell;
							color: #50475e;
							font-weight: 700;
						}
						input{
							display: table-cell;
							width: -webkit-fill-available;
							height: 27px;
							padding: 5px 10px;
							border: 1px solid #50475e;
						}
					}
				}
			}
		}
		.cont-right{
			width: 20%;
			float: left;
			margin-right: 5%;
			margin-top: 5%;
			.product-container{
				border: 1px solid #ccc;
				.summary-product{
					width: 100%;
					display: block;
					.count-product{
						padding: 20px 12%;
						border-bottom: 1px solid #ccc;

						.count-product-title{
							font-size: 17px;
							color: #50475e;
						}

						.count-product-right{
							float: right;
							font-size: 10px;
							color: #847e8e;
							cursor: pointer;
							line-height: 2;

							.arrow-down{
								border: solid;
								border-width: 0 1px 1px 0;
								display: inline-block;
								padding: 2px;
								transform: rotate(45deg);
								margin-left: 4px;
								margin-bottom: 3px;
							}
						}
					}
					.show-product{
						@extend .count-product;
						font-size: 14px;
						color: #50475e;
						display: none;

						.name-product{
							width: 100%;
						    display: block;
						    font-weight: 700;
						    line-height: 2;
						}
						.items{
							color: #847e8e;
							span{
								color: #0061af;
								font-weight: 700;
							}
						}
						.price-product{
							float: right;
							font-weight: 700;
						}
					}
				}
				.internal-div{
					padding: 20px 12%;
					color: #0061af;
					.internal-right{
						float: right;
						font-size: 16px;
					}
					.internal-left{
						font-size: 12px;

					}
				}
				.service-price{
					background-color: #edf4f9;
				}
				.total-price{
					display: table;
					width: calc(77% - 2px);
					margin-bottom: 10px;

					.internal-left{
						font-size: 16px;
						display: table-cell;
						vertical-align: middle;
						span{
							font-size: 10px;
							display: block;
							color: #847e8e;
						}
					}
					.internal-right{
						font-size: 36px;
					}
				}
			}
			.payment-info{
				margin-top: 30px;
				border: 1px solid #ccc;
				text-align: center;
				span{
					display: block;
					color: #50475e;
					margin-top: 20px;
				}
				.mode-supported{
					border-top: 1px solid #847e8e;
					margin: 10px 10%;
					width: 80%;
					display: flow-root;
					padding: 15px 0;

					article{
						width: 33.33%;
						float: left;
						margin-top: 10px;

						div{
							padding: 0 2px;
							img{
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
