#myId {
  background-color: #2f4f4f;
  color: #ffffff;
  font-style: normal;
}
#newId {
  margin: 0px /*60px*/ 60px;
  padding: 10px;
}
.btn-lg {
  border-color: unset;
}
body {
  margin: 0px;
}
p {
  margin-top: 20px;
}
.tech {
  margin-top: 20px;
}
.jumbotron {
  padding: 60px;
  padding-right: 90px;
  margin-bottom: 15px;
}
img {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
#ck {
  color: white;
}
#cookie {
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: #2f4f4f;
  padding: 10px;
  z-index: 90;
  padding-left: 60px;
}
footer {
  padding: 15px;
  margin-bottom: 20px;
  padding-left: 60px;
}
#content {
  padding-left: 60px /*60px*/;
  padding-right: 60px;
}
.like {
  background-color: white;
  color: black;
  padding: 7px;
  border: 1px solid grey;
  text-decoration: none;
}
