
#myId{
	background-color: #2f4f4f;
	color: #ffffff;
	font-style: normal;
}
.hero{ background-color: #e0ffff;

}

#logo{
	width: 24px;
}

.paragraf{ margin: 15px; }


#newId{ margin: 0px 15px;
	padding: 10px;
 }

 .btn-lg{
 	border-color: unset;
 }

body{ margin: 0px; }

.hero > h1 { margin: 0px 15px; }
.hero {
	padding: 20px;
}
p{
	margin-top: 20px;
}
/*
.article{ width: 33%;
display: inline-block;
vertical-align: top; }
*/
.tech{
	margin-top: 20px;
}

.jumbotron{
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 15px;
	padding-right: 15px;
}

img{ width: 100%;
	display: inline-block;
 }

#ck{
	color: white;
}

#cookie{
width: 100%;
	position: fixed;
	bottom: 0%;
	background-color: #2f4f4f;
	padding: 10px;
	z-index: 90;
}
footer {
	padding: 15px;
}
#content{
	padding: 15px;
}


.like{
	background-color: white;
	color: black;
	padding: 7px;
	border: 1px solid grey;
	border-right: 7px;
	text-decoration: none;
}

