.top {
  float: left;
  margin-top: 79px;
  width: 100%; }
  .top .cont-top {
    display: table;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #faa482; }
    @media (max-width: 768px) {
      .top .cont-top {
        display: contents; } }
    .top .cont-top .descr {
      display: table-cell;
      width: 30%;
      float: right;
      height: 100%; }
      @media (max-width: 768px) {
        .top .cont-top .descr {
          float: left;
          width: 100%;
          background-color: #faa482;
          margin-bottom: 5%; } }
      .top .cont-top .descr .descr_Button {
        display: block;
        width: 100%;
        margin: 19% auto 0 auto; }
        @media (max-width: 768px) {
          .top .cont-top .descr .descr_Button {
            margin-top: 0;
            margin-bottom: 3%; } }
        .top .cont-top .descr .descr_Button button {
          background-color: white;
          font-family: "montserrat";
          color: blue;
          font-size: 14px;
          border: 10px solid white;
          padding: 0 30px;
          cursor: pointer; }
          @media (max-width: 768px) {
            .top .cont-top .descr .descr_Button button {
              font-size: 14px; } }
      .top .cont-top .descr .descr_Banner {
        padding-bottom: 27%;
        min-height: 35%; }
        @media (max-width: 768px) {
          .top .cont-top .descr .descr_Banner {
            text-align: center;
            padding-top: 3%;
            padding-bottom: 3%; } }
        @media (min-width: 1024px) {
          .top .cont-top .descr .descr_Banner {
            padding-bottom: 30%; } }
        .top .cont-top .descr .descr_Banner h3 {
          color: white;
          padding-left: 8%;
          margin-bottom: 1%;
          font-size: 23px;
          margin-top: 10%; }
          @media (max-width: 768px) {
            .top .cont-top .descr .descr_Banner h3 {
              padding: 0;
              font-size: 20px;
              margin-top: 2%; } }
        .top .cont-top .descr .descr_Banner span {
          color: white;
          padding-left: 8%;
          font-size: 18px; }
          @media (max-width: 768px) {
            .top .cont-top .descr .descr_Banner span {
              padding: 0;
              font-size: 18px; } }
        .top .cont-top .descr .descr_Banner .sp2 {
          color: white;
          padding-left: 8%;
          font-size: 17px;
          display: inline-block;
          margin-top: 1%; }
          @media (max-width: 768px) {
            .top .cont-top .descr .descr_Banner .sp2 {
              padding: 0;
              font-size: 16px;
              margin-top: 13%; } }
    .top .cont-top .cell {
      width: 70%;
      float: right;
      height: 100%; }
      @media (max-width: 768px) {
        .top .cont-top .cell {
          float: left;
          width: 100%;
          height: unset; } }
      .top .cont-top .cell img {
        width: 100%;
        display: flex;
        height: auto; }
    .top .cont-top .hd {
      display: block; }
  .top .nv {
    width: 100%;
    float: left;
    background-color: white; }
    @media (max-width: 768px) {
      .top .nv {
        display: none; } }
    .top .nv hr {
      height: 30px;
      height: 2vw;
      float: left; }
    .top .nv span {
      width: 24%;
      float: left;
      text-align: center;
      margin-top: 1%;
      font-size: 13px;
      cursor: pointer; }

.catg {
  display: inline-block;
  width: 100%;
  padding-top: 5%;
  background-color: #e6e6ed; }
  .catg .title {
    display: block;
    width: 94%;
    margin: 0 3%;
    float: left; }
    @media (max-width: 768px) {
      .catg .title {
        margin-bottom: 4%;
        margin: 0% 5% 4% 5%;
        width: 90%; } }
    @media (min-width: 1024px) {
      .catg .title {
        margin: 0 5%;
        width: 90%; } }
    .catg .title #t1 {
      width: 35%;
      float: left;
      border-left: 0;
      margin-top: 1%;
      border-right: 0; }
      @media (max-width: 768px) {
        .catg .title #t1 {
          display: none; } }
      @media (min-width: 1024px) {
        .catg .title #t1 {
          width: 34%; } }
    .catg .title span {
      background-color: #e6e6ed;
      font-size: 16px;
      color: grey;
      float: left;
      padding: 0 2%;
      width: 26%;
      text-align: center; }
      @media (max-width: 768px) {
        .catg .title span {
          width: 100%;
          text-align: center;
          font-size: 14px;
          padding: 0; } }
      @media (min-width: 1024px) {
        .catg .title span {
          width: 32%;
          padding: 0; } }
    .catg .title #t2 {
      width: 35%;
      margin-top: 1%;
      float: left;
      border-left: 0;
      border-right: 0; }
      @media (max-width: 768px) {
        .catg .title #t2 {
          width: 100%; } }
      @media (min-width: 1024px) {
        .catg .title #t2 {
          width: 34%; } }
  .catg .artcl {
    display: inline-block;
    margin: 5px 3%;
    width: 94%; }
    @media (max-width: 768px) {
      .catg .artcl {
        margin: 0;
        width: 100%; } }
    @media (min-width: 1024px) {
      .catg .artcl {
        margin: 5px 5%;
        width: 90%; } }
    .catg .artcl article {
      width: 50%;
      float: left;
      margin-top: 12px; }
      @media (max-width: 768px) {
        .catg .artcl article {
          width: 100%;
          margin-top: 3px; } }
      .catg .artcl article .ct {
        margin: 0;
        display: flex;
        padding-right: 3%;
        padding-left: 1%; }
        @media (max-width: 768px) {
          .catg .artcl article .ct {
            padding: 0; } }
        .catg .artcl article .ct .ct1 {
          width: 50%;
          float: left;
          position: relative;
          background-color: white; }
          @media (max-width: 768px) {
            .catg .artcl article .ct .ct1 {
              width: 15%; } }
          .catg .artcl article .ct .ct1 .ct11 {
            width: 100%;
            height: 50%;
            background-color: pink;
            clip-path: polygon(0 0, 60% 0, 24% 100%, 0 100%);
            background: linear-gradient(to right, #faa482 0%, #ffd39d 50%, #ffd39d 51%, #e9dad7 100%);
            /*----------------------------------------------------------------------------------------------------------------------------*/
            /*----------------------------------------------------------------------------------------------------------------------------*/ }
            .catg .artcl article .ct .ct1 .ct11 .ct111 {
              width: 70%;
              height: 100%;
              clip-path: polygon(0 0, 70% 0, 20% 100%, 0 100%);
              background: linear-gradient(to right, #faa482 0, #ffd39d 50%, #ffd39d 51%, #e9dad7 100%); }
          .catg .artcl article .ct .ct1 .ct12 {
            width: 100%;
            height: 50%;
            background-color: pink;
            clip-path: polygon(0 -70%, 60% 100%, 0 100%, 0 100%);
            background: linear-gradient(to right, #faa482 0%, #ffd39d 50%, #ffd39d 51%, #e9dad7 100%);
            margin-top: -1px;
            height: calc(50% + 1px);
            /*----------------------------------------------------------------------------------------------------------------------------*/
            /*----------------------------------------------------------------------------------------------------------------------------*/ }
            .catg .artcl article .ct .ct1 .ct12 .ct122 {
              width: 70%;
              height: 100%;
              clip-path: polygon(0% 0%, 20% 0%, 70% 100%, 0 100%);
              background: linear-gradient(to right, #faa482 0, #ffd39d 50%, #ffd39d 51%, #e9dad7 100%); }
          .catg .artcl article .ct .ct1 span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: absolute;
            top: 0; }
            @media (max-width: 768px) {
              .catg .artcl article .ct .ct1 span {
                display: none; } }
            .catg .artcl article .ct .ct1 span img {
              width: 60%;
              cursor: pointer; }
        .catg .artcl article .ct .ct2 {
          width: 50%;
          float: left;
          background-color: white; }
          @media (max-width: 768px) {
            .catg .artcl article .ct .ct2 {
              width: 85%; } }
          .catg .artcl article .ct .ct2 p {
            padding: 0 13px 0 10%;
            min-height: 65px;
            color: grey;
            margin-top: 10%;
            font-size: 18px; }
            @media (max-width: 768px) {
              .catg .artcl article .ct .ct2 p {
                margin: 0;
                text-align: left;
                padding: 15px 5px;
                font-size: 12px;
                cursor: pointer;
                min-height: initial; } }
          .catg .artcl article .ct .ct2 button {
            background-color: #0061af;
            border: 0px solid;
            padding: 15px 18px;
            color: white;
            margin-bottom: 10%;
            font-size: 1.3vw;
            font-size: 12px;
            cursor: pointer; }
            @media (max-width: 768px) {
              .catg .artcl article .ct .ct2 button {
                display: none; } }
    .catg .artcl article:nth-child(even) .ct {
      padding-right: 0; }
    .catg .artcl article:nth-child(odd) .ct {
      padding-left: 0; }

.carosello1 {
  margin: 4% 3% 2% 3%;
  display: inline-block;
  width: 94%;
  position: relative; }
  .carosello1:hover .right {
    display: block; }
  .carosello1:hover .left {
    display: block; }
  @media (max-width: 768px) {
    .carosello1 {
      margin: 0;
      margin-top: 10%;
      width: 100%; } }
  @media (min-width: 1024px) {
    .carosello1 {
      margin: 4% 5% 2% 5%;
      width: 90%; } }
  .carosello1 h3 {
    text-align: center;
    margin-bottom: 2%;
    color: grey;
    font-weight: 100;
    font-size: 17px; }
    @media (max-width: 768px) {
      .carosello1 h3 {
        margin-bottom: 1%;
        font-size: 14px; } }
  .carosello1 hr {
    display: none; }
    @media (max-width: 768px) {
      .carosello1 hr {
        margin: 0 5% 5% 5%;
        display: block; } }
  .carosello1 .right {
    position: absolute;
    right: 0%;
    top: 50%;
    display: none;
    background-color: #e6e6ed;
    width: 35px;
    height: 50px;
    cursor: pointer; }
    .carosello1 .right .arrow-right {
      border: solid #00f;
      border-width: 0px 3px 3px 0;
      display: inline-flex;
      padding: 6px;
      transform: rotate(-45deg);
      margin-left: 10px;
      margin-top: 18px; }
  .carosello1 .left {
    left: 0%;
    position: absolute;
    top: 50%;
    display: none;
    background-color: #e6e6ed;
    width: 35px;
    height: 50px;
    cursor: pointer; }
    .carosello1 .left .arrow-left {
      border: solid #00f;
      border-width: 0px 3px 3px 0;
      display: inline-flex;
      padding: 6px;
      transform: rotate(135deg);
      margin-left: 10px;
      margin-top: 18px; }
  .carosello1 article {
    width: 20%;
    float: left; }
    @media (max-width: 768px) {
      .carosello1 article {
        display: none; } }
    .carosello1 article div {
      margin-right: 5px;
      background-color: white;
      text-align: center; }
      .carosello1 article div img {
        width: 50%;
        margin-top: 14px;
        margin-bottom: 5px;
        cursor: pointer; }
        @media (max-width: 768px) {
          .carosello1 article div img {
            width: 70%;
            margin-left: 0; } }
      .carosello1 article div center button {
        background-color: #0061af;
        font-family: "montserrat";
        color: white;
        cursor: pointer;
        margin-bottom: 15px;
        border: 3px solid #0061af;
        padding: 2% 7%;
        font-size: 12px; }
        @media (max-width: 768px) {
          .carosello1 article div center button {
            font-size: 14px; } }
      .carosello1 article div center p {
        min-height: 50px;
        padding: 0 20px;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 15%; }
        @media (max-width: 768px) {
          .carosello1 article div center p {
            font-size: 14px;
            padding-bottom: 8%;
            margin-top: 5%;
            min-height: 34px; } }
  .carosello1 article:last-child div {
    margin-right: 0;
    padding-right: 5px; }
  @media (max-width: 768px) {
    .carosello1 #art-displ {
      width: 100%;
      display: block;
      text-align: center; }
      .carosello1 #art-displ div {
        display: inline-block;
        margin: 0; } }

.carosello2 {
  display: inline-block;
  background-color: #dad8d8fc;
  margin: 36px 3% 18px 3%;
  width: -webkit-fill-available;
  position: relative; }
  @media (min-width: 1024px) {
    .carosello2 {
      margin: 36px 5% 18px 5%; } }
  .carosello2:hover .right {
    display: block; }
  .carosello2:hover .left {
    display: block; }
  @media (max-width: 768px) {
    .carosello2 {
      background-color: #e6e6ed;
      margin-left: 0;
      margin-right: 0;
      text-align: center; } }
  .carosello2 hr {
    display: none; }
    @media (max-width: 768px) {
      .carosello2 hr {
        display: block;
        margin: 0 5% 7% 5%; } }
  .carosello2 h3 {
    text-align: center;
    font-weight: 100;
    color: grey;
    font-size: 2vw;
    font-size: 17px; }
    @media (max-width: 768px) {
      .carosello2 h3 {
        margin-bottom: 0;
        font-size: 14px; } }
  .carosello2 .right {
    position: absolute;
    right: 0%;
    top: 50%;
    display: none;
    background-color: #dad8d8fc;
    width: 29px;
    height: 50px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .carosello2 .right {
        background-color: #e6e6ed;
        right: 2%; } }
    .carosello2 .right .arrow-right {
      border: solid #00f;
      border-width: 0px 3px 3px 0;
      display: inline-flex;
      padding: 6px;
      transform: rotate(-45deg);
      margin-left: 5px;
      margin-top: 18px; }
  .carosello2 .left {
    left: 0%;
    position: absolute;
    top: 50%;
    display: none;
    background-color: #dad8d8fc;
    width: 25px;
    height: 50px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .carosello2 .left {
        background-color: #e6e6ed;
        left: 2%; } }
    .carosello2 .left .arrow-left {
      border: solid #00f;
      border-width: 0px 3px 3px 0;
      display: inline-flex;
      padding: 6px;
      transform: rotate(135deg);
      margin-left: 10px;
      margin-top: 18px; }
  .carosello2 .contenuto {
    margin: 0 25px 20px 25px;
    display: inline-block;
    width: -webkit-fill-available; }
    @media (max-width: 768px) {
      .carosello2 .contenuto {
        margin: 0;
        width: unset; } }
    .carosello2 .contenuto article {
      width: 20%;
      float: left; }
      @media (max-width: 768px) {
        .carosello2 .contenuto article {
          display: none; } }
      .carosello2 .contenuto article div {
        background-color: white;
        margin: 0 4px;
        padding: 5% 0 12% 0; }
        @media (max-width: 768px) {
          .carosello2 .contenuto article div {
            padding: 0;
            width: 170px; } }
        .carosello2 .contenuto article div .py1 span {
          color: orange;
          font-size: 1.5vw;
          font-size: 14px; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div .py1 span {
              font-size: 12px; } }
        .carosello2 .contenuto article div img {
          width: 50%;
          margin: 0;
          cursor: pointer;
          margin-left: 25%; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div img {
              margin: 0;
              width: 70%; } }
        .carosello2 .contenuto article div .pic {
          font-size: 1.3vw;
          font-size: 12px;
          padding-left: 10%;
          padding-right: 10%; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div .pic {
              font-size: 12px;
              text-align: left; } }
        .carosello2 .contenuto article div .py2 p {
          font-size: 23px;
          color: grey;
          cursor: pointer; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div .py2 p {
              font-size: 25px; } }
        .carosello2 .contenuto article div .py2 .sc1 {
          font-size: 20px;
          color: blue; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div .py2 .sc1 {
              font-size: 18px; } }
        .carosello2 .contenuto article div .py2 .sc2 {
          font-size: 20px;
          text-decoration: line-through; }
          @media (max-width: 768px) {
            .carosello2 .contenuto article div .py2 .sc2 {
              font-size: 18px; } }
    @media (max-width: 768px) {
      .carosello2 .contenuto #art-cr1 {
        width: 100%;
        display: inline-block; } }

body {
  margin: 0;
  font-family: "montserrat";
  background-color: #e6e6ed; }
  body header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999; }
    body header img {
      height: 75px;
      margin-left: 25px; }
  body footer {
    background-color: #0e1d42;
    right: 0;
    left: 0;
    display: flex; }
    body footer #pF {
      margin: 2% 0;
      color: #9d9aa2;
      padding: 0 4%;
      font-size: 9px;
      width: 50%; }
      @media (max-width: 768px) {
        body footer #pF {
          font-size: 8px;
          width: 100%; } }

/*# sourceMappingURL=styleTelefonia.css.map */