body {
  margin: 0;
  font-family: "montserrat"; }
  body header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
    height: 75px; }
    body header .logo {
      display: block;
      float: left;
      width: 33%; }
      body header .logo img {
        height: 75px;
        margin-left: 10%; }
    body header .title {
      float: left;
      width: 34%;
      text-align: center;
      line-height: 75px;
      font-size: 18px;
      color: #0061af;
      font-weight: 700; }
    body header .phone {
      float: right;
      width: 33%;
      text-align: center;
      line-height: 75px;
      font-size: 18px;
      color: #847e8e; }
  body footer {
    background-color: #0e1d42;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    /*
		background-color: #0e1d42;
		float: left;
		width: 100%;
		*/ }
    body footer #pF {
      margin: 2% 0;
      color: #9d9aa2;
      padding: 0 4%;
      font-size: 1vw;
      width: 50%; }
      @media (max-width: 768px) {
        body footer #pF {
          font-size: 8px;
          width: 100%; } }

.container {
  width: 100%;
  float: left;
  margin-top: 75px; }
  .container .nav {
    display: flex;
    padding: 1% 5% 1% 10%;
    background-color: #e6e6ed; }
    .container .nav .step {
      width: 33.33%;
      float: left;
      text-align: center;
      padding: 8px 15px;
      background-color: white;
      position: relative; }
      .container .nav .step span {
        color: #0061af;
        text-transform: uppercase;
        font-size: 14px; }
    .container .nav .step-one:after {
      content: '';
      border-left: 23px solid white;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      position: absolute;
      top: 0;
      right: -23px;
      z-index: 1; }
    .container .nav .step-second {
      border-left: 21px solid white; }
      .container .nav .step-second:before {
        content: '';
        border-left: 30px solid #e6e6ed;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: -5px;
        left: -20px; }
      .container .nav .step-second:after {
        content: '';
        border-left: 23px solid white;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        position: absolute;
        top: 0;
        right: -23px;
        z-index: 1; }
    .container .nav .step-three {
      border-left: 21px solid white; }
      .container .nav .step-three:before {
        content: '';
        border-left: 30px solid #e6e6ed;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: -5px;
        left: -20px; }
  .container .content {
    width: 100%;
    float: left; }
    .container .content .shipping {
      width: 55%;
      margin: 5% 10% 0 10%;
      float: left; }
      .container .content .shipping .shipping-mode, .container .content .shipping .shipping-address {
        width: 100%;
        float: left; }
        .container .content .shipping .shipping-mode .sect-title, .container .content .shipping .shipping-address .sect-title {
          width: 100%;
          float: left;
          background-color: #57a2ec;
          display: block; }
          .container .content .shipping .shipping-mode .sect-title .title-num, .container .content .shipping .shipping-address .sect-title .title-num {
            width: 10%;
            float: left;
            margin-left: 40px;
            line-height: 50px;
            font-size: 24px;
            color: white;
            font-family: Bitter;
            font-style: italic; }
          .container .content .shipping .shipping-mode .sect-title .title-string, .container .content .shipping .shipping-address .sect-title .title-string {
            width: 75%;
            float: left;
            text-align: center;
            line-height: 50px;
            font-size: 12px;
            color: white;
            font-family: Bitter;
            font-style: italic; }
        .container .content .shipping .shipping-mode .shipping-mode-choose, .container .content .shipping .shipping-address .shipping-mode-choose {
          width: 100%;
          float: left; }
          .container .content .shipping .shipping-mode .shipping-mode-choose .choose, .container .content .shipping .shipping-address .shipping-mode-choose .choose {
            margin: 0 5%;
            font-size: 13px;
            display: block;
            line-height: 50px; }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 {
              display: inline-flex; }
              .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input {
                -webkit-appearance: none;
                display: inline-block;
                position: relative;
                background-color: white;
                color: white;
                top: 7px;
                height: 30px;
                width: 30px;
                border: 1px solid blue;
                border-radius: 50px;
                cursor: pointer;
                outline: none; }
                .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:checked:before, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:checked:before {
                  position: absolute;
                  font: 13px/1 'Open Sans', sans-serif;
                  left: 11px;
                  top: 7px;
                  content: '\02143';
                  transform: rotate(40deg); }
                .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:hover, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:hover {
                  background-color: #f7f7f7; }
                .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:checked, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:checked {
                  background-color: #0061af; }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check2, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check2 {
              display: inline-flex;
              padding-left: 35px;
              color: #50475e; }
              .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check2 span, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check2 span {
                font-weight: 700; }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check3, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check3 {
              float: right;
              color: #50475e; }
          .container .content .shipping .shipping-mode .shipping-mode-choose .choose1, .container .content .shipping .shipping-address .shipping-mode-choose .choose1 {
            border-bottom: 1px solid #0061af; }
    .container .content .cont-right {
      width: 20%;
      float: left;
      margin-right: 5%;
      margin-top: 5%; }

/*# sourceMappingURL=styleCheckout.css.map */