.container, .container .content, .container .content .shipping .shipping-mode, .container .content .shipping .shipping-address, .container .content .shipping .shipping-mode .sect-title, .container .content .shipping .shipping-address .sect-title, .container .content .shipping .shipping-mode .shipping-mode-choose, .container .content .shipping .shipping-address .shipping-mode-choose {
  float: left;
  width: 100%; }

body {
  margin: 0;
  font-family: "montserrat"; }
  body header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
    height: 75px;
    border-bottom: 1px solid #ccc; }
    body header .logo {
      display: block;
      float: left;
      width: 19%; }
      body header .logo img {
        height: 75px;
        margin-left: 10%; }
    body header .title {
      float: left;
      width: 33%;
      text-align: center;
      line-height: 75px;
      font-size: 18px;
      color: #0061af;
      font-weight: 700; }
    body header .phone {
      float: right;
      width: 33%;
      text-align: center;
      line-height: 75px;
      font-size: 18px;
      color: #847e8e; }
  body footer {
    background-color: #0e1d42;
    right: 0;
    left: 0;
    display: flex;
    width: 100%; }
    body footer #pF {
      margin: 2% 0;
      color: #9d9aa2;
      padding: 0 4%;
      font-size: 11px;
      width: 50%; }
      @media (max-width: 768px) {
        body footer #pF {
          font-size: 8px;
          width: 100%; } }

.container {
  margin-top: 75px;
  margin-bottom: 30px; }
  .container .nav {
    display: flex;
    padding: 1% 5% 1% 10%;
    background-color: #e6e6ed; }
    .container .nav .step {
      width: 50%;
      float: left;
      text-align: center;
      padding: 8px 15px;
      background-color: white;
      position: relative; }
      .container .nav .step.thirty-three {
        width: 33.33%; }
      .container .nav .step span {
        color: #0061af;
        text-transform: uppercase;
        font-size: 14px; }
    .container .nav .step-one:after {
      content: '';
      border-left: 23px solid white;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      position: absolute;
      top: 0;
      right: -23px;
      z-index: 1; }
    .container .nav .step-second {
      border-left: 21px solid white;
      background-color: #fafafc;
      border-left: 21px solid #fafafc; }
      .container .nav .step-second:before {
        content: '';
        border-left: 30px solid #e6e6ed;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: -5px;
        left: -20px; }
      .container .nav .step-second span {
        color: #d1dbee; }
    .container .nav .change:after {
      content: '';
      border-left: 23px solid white;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      position: absolute;
      top: 0;
      right: -23px;
      z-index: 1;
      border-left: 23px solid #fafafc; }
    .container .nav .step-three {
      border-left: 21px solid white;
      background-color: #fafafc;
      border-left: 21px solid #fafafc; }
      .container .nav .step-three:before {
        content: '';
        border-left: 30px solid #e6e6ed;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: -5px;
        left: -20px; }
      .container .nav .step-three span {
        color: #d2dbee; }
  .container .content .shipping {
    width: 55%;
    margin: 2% 10% 3% 10%;
    float: left; }
    .container .content .shipping .shipping-mode, .container .content .shipping .shipping-address {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      box-sizing: border-box; }
      .container .content .shipping .shipping-mode .sect-title, .container .content .shipping .shipping-address .sect-title {
        background-color: #57a2ec;
        display: block; }
        .container .content .shipping .shipping-mode .sect-title.active, .container .content .shipping .shipping-address .sect-title.active {
          background-color: #0061af; }
        .container .content .shipping .shipping-mode .sect-title .title-num, .container .content .shipping .shipping-address .sect-title .title-num {
          width: 10%;
          float: left;
          margin-left: 40px;
          line-height: 50px;
          font-size: 24px;
          color: white;
          font-family: Bitter;
          font-style: italic; }
        .container .content .shipping .shipping-mode .sect-title .title-string, .container .content .shipping .shipping-address .sect-title .title-string {
          width: 75%;
          float: left;
          text-align: center;
          line-height: 50px;
          font-size: 12px;
          color: white;
          font-family: 'Bitter';
          font-style: italic; }
      .container .content .shipping .shipping-mode .shipping-mode-choose .choose, .container .content .shipping .shipping-address .shipping-mode-choose .choose {
        margin: 0 5%;
        font-size: 13px;
        display: block;
        line-height: 50px; }
        .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 {
          display: inline-flex; }
          .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input {
            -webkit-appearance: none;
            display: inline-block;
            position: relative;
            background-color: white;
            color: white;
            top: 7px;
            height: 30px;
            width: 30px;
            border: 1px solid #0061af;
            border-radius: 50px;
            cursor: pointer;
            outline: none; }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:checked:before, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:checked:before {
              position: absolute;
              font: 13px/1 'Open Sans', sans-serif;
              left: 11px;
              top: 7px;
              content: '\02143';
              transform: rotate(40deg); }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:hover, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:hover {
              background-color: #f7f7f7; }
            .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check1 input:checked, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check1 input:checked {
              background-color: #0061af; }
        .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check2, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check2 {
          display: inline-flex;
          padding-left: 35px;
          color: #50475e;
          cursor: pointer; }
          .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check2 span, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check2 span {
            font-weight: 700; }
        .container .content .shipping .shipping-mode .shipping-mode-choose .choose .check3, .container .content .shipping .shipping-address .shipping-mode-choose .choose .check3 {
          float: right;
          color: #50475e; }
        .container .content .shipping .shipping-mode .shipping-mode-choose .choose.choose1, .container .content .shipping .shipping-address .shipping-mode-choose .choose.choose1 {
          border-bottom: 1px solid #0061af; }
        .container .content .shipping .shipping-mode .shipping-mode-choose .choose.play .check1, .container .content .shipping .shipping-address .shipping-mode-choose .choose.play .check1, .container .content .shipping .shipping-mode .shipping-mode-choose .choose.play .check2, .container .content .shipping .shipping-address .shipping-mode-choose .choose.play .check2, .container .content .shipping .shipping-mode .shipping-mode-choose .choose.play .check3, .container .content .shipping .shipping-address .shipping-mode-choose .choose.play .check3 {
          color: #0061af; }
      .container .content .shipping .shipping-mode .shipping-mode-confirm, .container .content .shipping .shipping-address .shipping-mode-confirm {
        float: left;
        padding: 0px 5%;
        width: 90%;
        font-size: 13px;
        line-height: 60px;
        color: #50475e; }
        .container .content .shipping .shipping-mode .shipping-mode-confirm .right, .container .content .shipping .shipping-address .shipping-mode-confirm .right {
          float: right;
          text-decoration: underline;
          font-weight: 700;
          cursor: pointer; }
      .container .content .shipping .shipping-mode .shipping-store-confirm, .container .content .shipping .shipping-address .shipping-store-confirm {
        float: left;
        padding: 0px 5%;
        width: 90%;
        font-size: 13px;
        line-height: 60px;
        color: #50475e; }
        .container .content .shipping .shipping-mode .shipping-store-confirm .right, .container .content .shipping .shipping-address .shipping-store-confirm .right {
          float: right;
          text-decoration: underline;
          font-weight: 700;
          cursor: pointer; }
    .container .content .shipping .shipping-address {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      box-sizing: border-box;
      border-top: none; }
      .container .content .shipping .shipping-address .shipping-address-form, .container .content .shipping .shipping-address .choose-country {
        float: left;
        width: 90%;
        margin: 3% 5%; }
        .container .content .shipping .shipping-address .shipping-address-form .message, .container .content .shipping .shipping-address .choose-country .message {
          color: #57a2ec;
          margin-bottom: 18px;
          font-size: 13px; }
        .container .content .shipping .shipping-address .shipping-address-form .field-form, .container .content .shipping .shipping-address .choose-country .field-form, .container .content .shipping .shipping-address .choose-country .country-form {
          margin-bottom: 20px;
          height: 50px;
          width: 100%;
          display: table; }
          .container .content .shipping .shipping-address .shipping-address-form .field-form label, .container .content .shipping .shipping-address .choose-country .field-form label, .container .content .shipping .shipping-address .choose-country .country-form label {
            width: 30%;
            display: table-cell;
            color: #50475e;
            font-weight: 700;
            vertical-align: middle; }
          .container .content .shipping .shipping-address .shipping-address-form .field-form input, .container .content .shipping .shipping-address .choose-country .field-form input, .container .content .shipping .shipping-address .choose-country .country-form input {
            display: table-cell;
            width: -webkit-fill-available;
            height: 27px;
            padding: 5px 10px;
            border: 1px solid #50475e; }
        .container .content .shipping .shipping-address .shipping-address-form .confirm, .container .content .shipping .shipping-address .choose-country .confirm {
          float: right;
          margin-bottom: 10px; }
          .container .content .shipping .shipping-address .shipping-address-form .confirm button, .container .content .shipping .shipping-address .choose-country .confirm button {
            background-color: white;
            border: 1px solid #0061af;
            color: #0061af;
            padding: 16px 30px;
            width: 180px;
            font-size: 14px; }
      .container .content .shipping .shipping-address .choose-country .country-form {
        margin: 7px 0;
        height: 50px;
        width: 100%; }
        .container .content .shipping .shipping-address .choose-country .country-form input::placeholder {
          font-style: italic;
          color: #50475e;
          opacity: 0.5; }
  .container .content .cont-right {
    width: 20%;
    float: left;
    margin-right: 5%;
    margin-top: 2%; }
    .container .content .cont-right .product-container {
      border: 1px solid #ccc; }
      .container .content .cont-right .product-container .summary-product {
        width: 100%;
        display: block; }
        .container .content .cont-right .product-container .summary-product .count-product, .container .content .cont-right .product-container .summary-product .show-product {
          padding: 20px 12%;
          border-bottom: 1px solid #ccc;
          cursor: pointer; }
          .container .content .cont-right .product-container .summary-product .count-product .count-product-title, .container .content .cont-right .product-container .summary-product .show-product .count-product-title {
            font-size: 17px;
            color: #50475e; }
          .container .content .cont-right .product-container .summary-product .count-product .count-product-right, .container .content .cont-right .product-container .summary-product .show-product .count-product-right {
            float: right;
            font-size: 10px;
            color: #847e8e;
            line-height: 2; }
            .container .content .cont-right .product-container .summary-product .count-product .count-product-right .arrow-down, .container .content .cont-right .product-container .summary-product .show-product .count-product-right .arrow-down {
              border: solid;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 2px;
              transform: rotate(45deg);
              margin-left: 4px;
              margin-bottom: 3px; }
        .container .content .cont-right .product-container .summary-product .show-product {
          font-size: 14px;
          color: #50475e;
          cursor: unset; }
          .container .content .cont-right .product-container .summary-product .show-product .name-product {
            width: 100%;
            display: block;
            font-weight: 700;
            line-height: 2; }
          .container .content .cont-right .product-container .summary-product .show-product .items {
            color: #847e8e; }
            .container .content .cont-right .product-container .summary-product .show-product .items span {
              color: #0061af;
              font-weight: 700; }
          .container .content .cont-right .product-container .summary-product .show-product .price-product {
            float: right;
            font-weight: 700; }
      .container .content .cont-right .product-container .internal-div {
        padding: 20px 12%;
        color: #0061af; }
        .container .content .cont-right .product-container .internal-div .internal-right {
          float: right;
          font-size: 16px; }
        .container .content .cont-right .product-container .internal-div .internal-left {
          font-size: 12px; }
      .container .content .cont-right .product-container .service-price {
        background-color: #edf4f9; }
      .container .content .cont-right .product-container .total-price {
        display: table;
        width: calc(77% - 2px);
        margin-bottom: 10px; }
        .container .content .cont-right .product-container .total-price .internal-left {
          font-size: 16px;
          display: table-cell;
          vertical-align: middle; }
          .container .content .cont-right .product-container .total-price .internal-left span {
            font-size: 10px;
            display: block;
            color: #847e8e; }
        .container .content .cont-right .product-container .total-price .internal-right {
          font-size: 36px; }
    .container .content .cont-right .payment-info {
      margin-top: 30px;
      border: 1px solid #ccc;
      text-align: center;
      float: left; }
      .container .content .cont-right .payment-info span {
        display: block;
        color: #50475e;
        margin-top: 20px; }
      .container .content .cont-right .payment-info .mode-supported {
        border-top: 1px solid #847e8e;
        margin: 10px 10%;
        width: 80%;
        float: left;
        padding: 15px 0; }
        .container .content .cont-right .payment-info .mode-supported article {
          width: 33.33%;
          float: left;
          margin-top: 10px; }
          .container .content .cont-right .payment-info .mode-supported article div {
            padding: 0 2px; }
            .container .content .cont-right .payment-info .mode-supported article div img {
              max-width: 100%; }

.hide {
  display: none; }

/*# sourceMappingURL=styleCheckout.css.map */